.iphone{
	background: black;
	height: 560px;
	margin:auto;
	margin-top: 70px;
	border-radius: 30px;
	background: #010;
}
.screen{
	height: 450px;
	background: #f1f1f1;
	margin: auto;
	top: 35px;
	border-radius: 15px;
}
.center1{
	margin: auto;
	height: 50px;
	background: #f1f1f1;
	margin-top: 48px;
	border-radius: 25px;
	width: 50px;
}
.device{
	height: 20px;
}
.device .fa-wifi,.fa-battery-3{
	float: right;
	margin: 2px 3px 0px 0px;
}
.login-form{
	margin:auto;
	margin-top:50px;
}